/* ----------- main -----------*/
.relatorio-main{


    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* ----------- Superior ----------- */

.text-topRelatorio{
    font-size: 20px;

    text-align: center;

}

.relatorio-tabelaSup{
    margin-top: 10px;
    background-color: #ffffff;
    width: 800px;
    height: 150px;
}

/* ----------- Inferior -----------*/

.relatorio-below{
    margin-top: 30px;
    text-align: center;
    width: auto;
    height: auto;

}

/* POP UP */

.btnPopUp-Pesquisa{
    border: none;
    color: #fff;
    background-color: #FAA914;
    padding: 5px 5px;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0px 5px 5px #4a4848;
    font-size: 18px;
    

    margin-left: 4px;
    margin-right: 4px;

}

.tituloPopUp{
    display: flex;
    justify-content: center;
    
    
}



.relatorios-botoes-pesquisa{
    display: flex;
    gap: 15px;
}

.relatorios-botoes-pesquisa button{
    width: 150px;
    height: 40px;
    background-color: #FAA914;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
}

.relatorio-tabelaInf{
    background-color: #ffffff;
    width: 800px;
    height: 270px;

    margin-top: 10px;
    margin-bottom: 10px;
}