/* ----------- main -----------*/
.relatorio-main {


    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* ----------- Superior ----------- */

.relatorio-topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1000px;
    height: auto;

}


.text-relatorio {
    color: white;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    border-radius: 20px;

}

.text-topRelatorio {
    font-size: 20px;
    text-align: center;

}

.relatorio-tabelaSup {
    margin-top: 10px;
    background-color: #ffffff;
    width: 800px;
    height: 150px;
}

/* ----------- Inferior -----------*/

.relatorio-below {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    text-align: center;
    width: 1000px;
    height: auto;
}

.txt-pesquisar {
    color: white;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 20px;
}

/* Botoes */
.btn-sistema {
    border: 0;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;


    margin-left: 4px;
    margin-right: 4px;
}

.btn-sistema:hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgb(60, 57, 57), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn-sistema:active {
    opacity: 0.8;
}


.relatorio-tabelaInf {
    background-color: #ffffff;
    width: 800px;
    height: 250px;

    margin-top: 10px;
    margin-bottom: 10px;
}

/* POP UP */

.tituloPopUp {
    display: flex;
    justify-content: center;
}